div#container
{
   width: 1280px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#PageHeader1
{
   background-color: #000000;
   background-image: none;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}
#PageHeader1
{
   -webkit-transition: all 500ms linear 0ms;
   -moz-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#wb_home
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px #CCCCCC solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#home
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 15px 200px 15px;
   margin-right: auto;
   margin-left: auto;
}
#home .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#home .col-1
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#home .col-1
{
   float: left;
}
#home .col-1
{
   background-color: transparent;
   background-image: none;
   width: 100%;
   text-align: center;
}
#home:before,
#home:after,
#home .row:before,
#home .row:after
{
   display: table;
   content: " ";
}
#home:after,
#home .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#home .col-1
{
   float: none;
   width: 100%;
}
}
#wb_Image1
{
   vertical-align: top;
}
#Image1
{
   border: 0px #000000 solid;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   padding: 0px 0px 0px 0px;
   display: block;
   width: 100%;
   height: auto;
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_ResponsiveMenu1
{
   background-color: rgba(0,0,0,1.00);
   display: block;
   font-family: Arial;
   font-weight: normal;
   text-align: center;
   width: 100%;
}
#ResponsiveMenu1
{
   background-color: #000000;
   display: inline-block;
   height: 69px;
}
#wb_ResponsiveMenu1 ul
{
   list-style: none;
   margin: 0;
   padding: 0;
   position: relative;
}
#wb_ResponsiveMenu1 ul:after
{
   clear: both;
   content: "";
   display: block;
}
#wb_ResponsiveMenu1 ul li
{
   background-color: #000000;
   display: list-item;
   float: left;
   list-style: none;
   z-index: 9999;
}
#wb_ResponsiveMenu1 ul li i
{
   font-size: 24px;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li a 
{
   color: #A9A9A9;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   font-style: normal;
   padding: 15px 20px 15px 20px;
   text-align: center;
   text-decoration: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: 39px;
}
.ResponsiveMenu1 a 
{
   display: block;
}
#wb_ResponsiveMenu1 li a:hover, #wb_ResponsiveMenu1 li .active
{ 
   background-color: #000000;
   color: #FFD700;
}
#wb_ResponsiveMenu1 ul ul
{
   display: none;
   position: absolute;
   top: 69px;
}
#wb_ResponsiveMenu1 ul li:hover > ul
{
   display: list-item;
}
#wb_ResponsiveMenu1 ul ul li 
{
   background-color: #FFFFFF;
   color: #FFFFFF;
   float: none;
   position: relative;
   width: 135px;
}
#wb_ResponsiveMenu1 ul ul li a:hover, #wb_ResponsiveMenu1 ul ul li .active
{
   background-color: #000000;
   color: #FFD700;
}
#wb_ResponsiveMenu1 ul ul li i 
{
   margin-right: 8px;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul li a 
{
   color: #FFFFFF;
   padding: 15px 20px 15px 20px;
   text-align: left;
   vertical-align: middle;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   left: 135px;
   position: relative;
   top: -69px;
}
#wb_ResponsiveMenu1 .arrow-down 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 2px;
   vertical-align: middle;
   border-top: 4px solid #A9A9A9;
   border-right: 4px solid transparent;
   border-left: 4px solid transparent;
   border-bottom: 0 dotted;
}
#wb_ResponsiveMenu1 .arrow-left 
{
   display: inline-block;
   width: 0;
   height: 0;
   margin-left: 4px;
   vertical-align: middle;
   border-left: 4px solid #FFFFFF;
   border-top: 4px solid transparent;
   border-bottom: 4px solid transparent;
   border-right: 0 dotted;
}
#wb_ResponsiveMenu1 li a:hover .arrow-down
{ 
   border-top-color: #FFD700;
}
#wb_ResponsiveMenu1 ul ul li a:hover .arrow-left, #wb_ResponsiveMenu1 ul ul li .active .arrow-left
{ 
   border-left-color: #FFD700;
}
#wb_ResponsiveMenu1 .toggle,[id^=ResponsiveMenu1-submenu]
{
   display: none;
}
@media all and (max-width:480px) 
{
#wb_ResponsiveMenu1 
{
   margin: 0;
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-size: 13px;
   font-weight: normal;
   font-style: normal;
   padding: 15px 20px 15px 20px;
}
#wb_ResponsiveMenu1 .toggle + a
{
   display: none !important;
}
.ResponsiveMenu1 
{
   display: none;
   z-index: 9999;
}
#ResponsiveMenu1 
{
   background-color: transparent;
   display: none;
}
#wb_ResponsiveMenu1 > ul > li > a 
{
   height: auto;
}
#wb_ResponsiveMenu1 .toggle 
{
   display: block;
   background-color: #000000;
   color: #A9A9A9;
   padding: 0px 20px 0px 20px;
   line-height: 54px;
   text-decoration: none;
   border: none;
}
#wb_ResponsiveMenu1 .toggle:hover 
{
   background-color: #000000;
   color: #FFD700;
}
[id^=ResponsiveMenu1-submenu]:checked + ul 
{
   display: block !important;
}
#ResponsiveMenu1-title
{
   height: 69px;
   line-height: 69px !important;
   text-align: center;
}
#wb_ResponsiveMenu1 ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   padding: 0 40px;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #FFFFFF;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #FFFFFF;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul ul a 
{
   padding: 15px 20px 15px 60px;
}
#wb_ResponsiveMenu1 ul li a 
{
   text-align: left;
}
#wb_ResponsiveMenu1 ul li a br 
{
   display: none;
}
#wb_ResponsiveMenu1 ul li i 
{
   margin-right: 8px;
}
#wb_ResponsiveMenu1 ul ul 
{
   float: none;
   position: static;
}
#wb_ResponsiveMenu1 ul ul li:hover > ul,
#wb_ResponsiveMenu1 ul li:hover > ul 
{
   display: none;
}
#wb_ResponsiveMenu1 ul ul li 
{
   display: block;
   width: 100%;
}
#wb_ResponsiveMenu1 ul ul ul li 
{
   position: static;
}
#ResponsiveMenu1-icon 
{
   display: block;
   position: absolute;
   right: 20px;
   top: 22px;
}
#ResponsiveMenu1-icon span 
{
   display: block;
   margin-top: 4px;
   height: 2px;
   background-color: #A9A9A9;
   color: #A9A9A9;
   width: 24px;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover
{
   background-color: #000000;
   color: #FFD700;
}
#wb_ResponsiveMenu1 .toggle .arrow-down 
{
   border-top-color: #A9A9A9;
}
#wb_ResponsiveMenu1 .toggle:hover .arrow-down, #wb_ResponsiveMenu1 li .active .arrow-down
{ 
   border-top-color: #FFD700;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle:hover .arrow-down, #wb_ResponsiveMenu1 ul li ul li .active .arrow-down
{ 
   border-top-color: #FFD700;
}
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text6 div
{
   text-align: center;
}
#wb_Image1
{
   display: inline-block;
   width: 100%;
   height: auto;
   z-index: 2;
}
#wb_Text6
{
   position: absolute;
   left: 0px;
   top: 15px;
   width: 610px;
   height: 22px;
   text-align: center;
   z-index: 1;
}
#PageHeader1
{
   position: fixed;
   text-align: left;
   left: 0;
   top: 0;
   right: 0;
   height: 69px;
   z-index: 7777;
}
#wb_ResponsiveMenu1
{
   position: absolute;
   left: 657px;
   top: 0px;
   width: 608px;
   height: 69px;
   z-index: 0;
}
@media only screen and (min-width: 1280px)
{
div#container
{
   width: 1280px;
}
#PageHeader1
{
   height: 69px;
   visibility: visible;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#home
{
   padding: 0px 15px 0px 15px;
}
#home .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#home .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#home .col-1
{
   display: block;
   width: 100%;
   text-align: center;
}
#wb_Image1
{
   visibility: visible;
   display: block;
}
#wb_ResponsiveMenu1
{
   left: 670px;
   top: 0px;
   width: 610px;
   height: 69px;
   visibility: visible;
   display: inline;
}
#wb_ResponsiveMenu1 ul ul li 
{
   background-color: #A9A9A9;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul li a 
{
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 .arrow-left 
{
   border-left: 4px solid #FFFFFF;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #A9A9A9;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #A9A9A9;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_Text6
{
   left: 0px;
   top: 15px;
   width: 670px;
   height: 22px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1279px)
{
div#container
{
   width: 1024px;
}
#PageHeader1
{
   height: 69px;
   visibility: visible;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#home
{
   padding: 0px 15px 200px 15px;
}
#home .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#home .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#home .col-1
{
   display: block;
   width: 100%;
   text-align: center;
}
#wb_Image1
{
   visibility: visible;
   display: block;
}
#wb_ResponsiveMenu1
{
   left: 456px;
   top: 0px;
   width: 568px;
   height: 69px;
   visibility: visible;
   display: inline;
}
#wb_ResponsiveMenu1 ul ul li 
{
   background-color: #FFFFFF;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul ul li a 
{
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 .arrow-left 
{
   border-left: 4px solid #FFFFFF;
}
#wb_ResponsiveMenu1 a:hover,
#wb_ResponsiveMenu1 ul ul ul a 
{
   background-color: #FFFFFF;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle,
#wb_ResponsiveMenu1 ul ul a 
{
   background-color: #FFFFFF;
   color: #FFFFFF;
}
#wb_ResponsiveMenu1 ul li ul li .toggle .arrow-down 
{
   border-top-color: #FFFFFF;
}
#wb_Text6
{
   left: 0px;
   top: 10px;
   width: 456px;
   height: 22px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
}
@media only screen and (min-width: 980px) and (max-width: 1023px)
{
div#container
{
   width: 980px;
}
#PageHeader1
{
   height: 69px;
   visibility: visible;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#home
{
   padding: 0px 15px 200px 15px;
}
#home .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#home .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#home .col-1
{
   display: block;
   width: 100%;
   text-align: center;
}
#wb_Image1
{
   visibility: visible;
   display: block;
}
#wb_ResponsiveMenu1
{
   left: 424px;
   top: 0px;
   width: 556px;
   height: 69px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   left: 0px;
   top: 10px;
   width: 424px;
   height: 22px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
}
@media only screen and (min-width: 800px) and (max-width: 979px)
{
div#container
{
   width: 800px;
}
#PageHeader1
{
   height: 69px;
   visibility: visible;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#home
{
   padding: 0px 15px 200px 15px;
}
#home .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#home .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#home .col-1
{
   display: block;
   width: 100%;
   text-align: center;
}
#wb_Image1
{
   visibility: visible;
   display: block;
}
#wb_ResponsiveMenu1
{
   left: 237px;
   top: 0px;
   width: 563px;
   height: 69px;
   visibility: visible;
   display: inline;
}
#wb_Text6
{
   left: 0px;
   top: 15px;
   width: 237px;
   height: 22px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
}
@media only screen and (min-width: 480px) and (max-width: 799px)
{
div#container
{
   width: 480px;
}
#PageHeader1
{
   height: 75px;
   visibility: visible;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#home
{
   padding: 0px 15px 200px 15px;
}
#home .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#home .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#home .col-1
{
   display: block;
   width: 100%;
   text-align: center;
}
#wb_Image1
{
   visibility: visible;
   display: block;
}
#wb_ResponsiveMenu1
{
   left: 15px;
   top: 0px;
   width: 450px;
   height: 75px;
   visibility: visible;
   display: inline;
}
#wb_ResponsiveMenu1 ul li a
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 19px;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-family: "Times New Roman";
   font-weight: normal;
   font-size: 19px;
}
#wb_Text6
{
   left: 85px;
   top: 26px;
   width: 237px;
   height: 22px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
}
@media only screen and (max-width: 479px)
{
div#container
{
   width: 320px;
}
#PageHeader1
{
   height: 69px;
   visibility: visible;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   visibility: visible;
   display: table;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_home
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#home
{
   padding: 0px 15px 200px 15px;
}
#home .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#home .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#home .col-1
{
   display: block;
   width: 100%;
   text-align: center;
}
#wb_Image1
{
   visibility: visible;
   display: block;
}
#wb_ResponsiveMenu1
{
   left: 15px;
   top: 0px;
   width: 290px;
   height: 69px;
   visibility: visible;
   display: inline;
}
#wb_ResponsiveMenu1 ul li a
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_ResponsiveMenu1 ul li a, #wb_ResponsiveMenu1 .toggle
{
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
}
#wb_Text6
{
   left: 15px;
   top: 23px;
   width: 237px;
   height: 22px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text6
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
}
